.super-mario {
  width: 200px;
  top: 50px;
  position: absolute;
}

.goomba {
  width: 100px;
  top: 350px;
  position: absolute;
  left: 50px;
}

.baloon {
  left: 275px;
  position: absolute;
  top: 150px;
  z-index: 1;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 300px;
  z-index: 2;
  top: 180px;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 550px;
  top: 325px;
  
}